<% content_for :title, "ログインページ" %>
<div class = "form_box">
<%= form_with url: logins_path, scope: :login,
              data: { turbo: false } do |f| %>    
  <div> 
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :pass  %>
    <%= f.password_field :password %>
  </div>
  <%= f.submit"ログイン" %>
<% end %>
</div>

<%=link_to"defのマイページ",user_path(6)%>