<% content_for :title, "編集ページ" %>


  <div class = "user_box">
    <%= render "shared/error_message", object: @user %>
    <%= form_with model: @user do |f| %>
      <div>
        <%= f.label :name, "名前" %>
        <%= f.text_field :name, class: "form-field", placeholder: "#{@user.name}", required: true %>
      </div>

      <div>
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class: "form-field", placeholder: "#{@user.email}", required: true, autocomplete: "email" %>
      </div>

      <div>
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: "form-field", placeholder: "変更する場合のみ入力", autocomplete: "new-password" %>
      </div>

      <div>
        <%= f.label :role, "権限" %>
        <%= f.select :role, [["一般ユーザー", "member"], ["管理者", "admin"]],{},{class: 'form-field'}%>
      </div>
      
      <div>
        <%= f.submit "登録",class: "form-button"  %>
      </div>
    <% end %>
  </div>

  <div>
    <%= button_to "対象ユーザの削除", user_path(@user),method: :delete,class: "button",data: { turbo_confirm: "本当に#{@user.name}を削除しますか？" } %>
  </div>