<% content_for :title, "一覧ページ" %>

<h3>
ユーザー一覧
<br>
<div class = "user_box_box">
<% @users.each do |user|%>
<div class = "user_box">
    <br>
    name: <%= user.name%>
    <br>
    email: <%= user.email%>
    <br>
    role: <%= user.role%>
    <br>
    <%=button_to "編集",edit_user_path(user),method: :get%>
    <br>
</div>
<%end%>
</div>
</h3>

<h2 class ="float"><%=button_to "新規登録", new_user_path,method: :get %></h2>