<% content_for :title, "ユーザ一覧ページ" %>
<h3>
ユーザー一覧
<% @users.each do |user|%>
    <div>
    ---
    <br>
    name: <%= user.name%>
    <br>
    email: <%= user.email%>
    <br>
    role: <%= user.role%>
    <br>
    <%=link_to "編集",edit_user_path(current_user)%>
    <br>
    ---
    </div>
<%end%>
</h3>

<h2><%=link_to "新規登録", logins_new_path %></h2>