<% content_for :title, "新規登録ページ" %>
<h2>新規作成フォーム</h2>
<div class = "form_box">
<%= form_with model: @user do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
    
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :role %>
    <%= f.select :role, [["一般ユーザー", "member"], ["管理者", "admin"]] %>
  </div>
  <%= f.submit %>
  </div>
<% end %>