<h1><%=current_user.name%>のマイページ</h1>
<li>
    <ul>name: <%=current_user.name%></ul>
    <ul>email: <%=current_user.email%></ul>
    <ul>role: <%=current_user.role%></ul>
</li>

<%= button_to "ログアウト",logout_path, method: :delete %>
