<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).presence || "プライムテック研修開発" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
    <div>
    <h1>ここは<%= content_for(:title) || "未設定ページ" %>です</h1>
    </div>

    <div>
    <% if current_user&.present? %>
    <%= link_to "ホームページへ", homes_path %>
    <% end %>
    </div>
    <div>
    <p>
      <% if current_user&.name.present? %>
        <%= link_to "こんにちは#{current_user.name}さん",user_path(current_user) %>
      <% else %>
        こんにちは
      <% end %>

      権限:
      <% if current_user&.role == "member" %>
        一般
      <% elsif current_user&.role == "admin" %>
        <%= link_to "管理者", users_path %>
      <% else %>
        未ログイン
      <% end %>
      
      <% if current_user&.present? %>
        <%=button_to "ログアウト",logout_path,method: :delete%>
      <% end %>
    </p>
    </div>

    <div>
    <p>
      通知:
      <% if flash[:notice] == nil %>
        ありません
      <% else %>
        <%= flash[:notice] %>
      <% end %>
    
    </p>
    </div>

    <div>
    
    </div>



  </header>
    <%= yield %>
  <footer>
  </footer>
    
  </body>
</html>
